.formBox {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.errorMsg {
  color: #e53e3e;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: left;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  background-color: #59739c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

.submitBtn:hover:not(:disabled) {
  background-color: #4a638b;
}

.submitBtn:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

.loadingMessage,
.errorMessage {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
}
.errorMessage {
  color: #e53e3e;
}
